.bg{
  background: #21212b;
  height: 500px;
  width: 500px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> origin/Eamonn_work
  border-radius: 10px;
  padding: 50px;
  margin: 1000px;
  display: inline-block;
<<<<<<< HEAD
=======
  border-radius: 60px;
  padding: 30px;
>>>>>>> afa60cb99a4bc5fb0179532eba3df469dd7fd54e
=======
>>>>>>> origin/Eamonn_work
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}